body,
body * {
margin: 0;
padding: 0;
vertical-align: top;
box-sizing: border-box;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
word-break: break-all;
}


body {
    
}

    .background {

        /* vw - view width (geriau nenaudoti)
            vh - view height */

        width: 100vw;
        height: 100vh;
        filter: blur(20px);
        object-fit: cover;
        object-position: bottom right;
    }

.container {
    display: inline-block;
    width: 800px;

    /* sekancios keturios eilutes: pastato 'container'
        tiesiai i ekrano viduri. nebutina rasyti position prie 'body'
        nes jo position relative by default */

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

    .left-column {
        display: inline-block;
        float: left;
        width: 40%;
        background-color: #68a9d9;
        padding: 40px;
        color: white;

        background-image: url(./kalnai.jpg);
        background-repeat: no-repeat;

        /*  background-size: cover;
            Reiskia didins nuptrauka kol uzpildys reikiama vieta */
        background-size: cover;

        /*  background-position: 
            Nurodai kuria nuotraukos dali nori sutalpinti/matyti - jeigub netelpa*/
        background-position: center;

        position: absolute;
        top: 30px;
        bottom: 30px;

    }

        .title {
                
        }

        .footer {
            font-size: 15px;
            position: absolute;
            left: 30px;
            bottom: 20px;
            right: 30px;
        }
            .link {
                color: white;
                
            }

            .amp {

            }

    .right-column {
        display: inline-block;
        float: right;
        width: 60%;
        background-color: white;
        padding: 60px;
        position: relative;

    }

        .close {
            display: inline-block;
            width: 60px;
            height: 60px;
            text-align: center;
            line-height: 56px;
            font-size: 30px;
            color: grey;
            cursor: pointer;

            /* pozicijos keitimas */
            position: absolute;
            top: 0;
            right: 0;
            
        }

        .form {
            display: inline-block;
            width: 100%;
            
        }

            .form-row {
                display: inline-block;
                width: 100%;
                margin-bottom: 30px;

            }

                .form-row:last-of-type {
                    margin-bottom: 0px;
                }


                label {
                    display: inline-block;
                    width: 100%;
                    margin-bottom: 5px;
                    text-transform: uppercase;
                    color: grey;
                    font-size: 15px
                }

                input {
                    display: inline-block;
                    width: 100%;
                    font-size: 15px;
                    border: none;
                    border-bottom: 1px solid lightgrey;
                }

                .btn {
                    display: inline-block;
                    background-color: rgb(44, 44, 243);
                    color: white;
                    padding: 10px 40px;
                    font-size: 15px;
                    line-height: 20px;
                    border-radius: 20px;
                }

                .or {
                    display: inline-block;
                    padding-top: 10px;
                    line-height: 20px;
                    margin-left: 20px;
                    margin-right: 20px;

                }

                .blue-link {
                    display: inline-block;
                    padding-top: 10px;
                    line-height: 20px;
                    text-decoration: none;

                }

